.slidev-layout {
  *:focus-visible {
    border-radius: 0.5rem;
    outline: none;
    box-shadow:
      0 0 0px 2px var(--white),
      0 0 0px 4px var(--coral-500);
  }

  * {
    line-height: 1.35;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: 600;
    text-wrap: pretty;
  }

  h1 {
    color: var(--coral-500);

    & + p {
      margin-top: 0;
      margin-bottom: inherit;
      opacity: 1;
    }

    ul,
    ol {
      li {
        margin: 0 !important;
      }
    }
  }

  p {
    text-wrap: balance;
    margin-top: 0;
    margin-bottom: 1ch;
  }

  a {
    color: var(--coral-500);
    font-weight: 500;
    border: none;
    text-decoration-line: underline;
    text-decoration-style: solid !important;
    text-decoration-thickness: 0.0625rem;
    text-decoration-color: var(--coral-500);

    &:hover {
      border: none;
      color: var(--coral-600);
      text-decoration-thickness: 0.125rem;
      text-decoration-color: var(--coral-600);
    }
  }

  blockquote {
    font-size: inherit;
    padding-inline: 1em 0.75em;
    padding-block: 0.5em;
    border-inline-start-width: 0.35em;

    @apply bg-slate-100 border-slate-700;

    .text-success {
      @apply text-success;
    }
    .text-info {
      @apply text-info;
    }
    .text-error {
      @apply text-error;
    }
    .text-warning {
      @apply text-warning;
    }

    .border-s-success {
      @apply border-s-success;
    }
    .border-s-info {
      @apply border-s-info;
    }
    .border-s-error {
      @apply border-s-error;
    }
    .border-s-warning {
      @apply border-s-warning;
    }
  }
}
