:root {
  --fuchsia-000: #fff1f2;
  --fuchsia-100: #ffe4e6;
  --fuchsia-200: #fecdd3;
  --fuchsia-300: #fda4af;
  --fuchsia-400: #fb7185;
  --fuchsia-500: #f43f5e;
  --fuchsia-600: #e11d48;
  --fuchsia-700: #be123c;
  --fuchsia-800: #9f1239;
  --fuchsia-900: #881337;
  --fuchsia-1000: #4c0519;
  --fuchsia-000-RGB: 255, 241, 242;
  --fuchsia-100-RGB: 255, 228, 230;
  --fuchsia-200-RGB: 254, 205, 211;
  --fuchsia-300-RGB: 253, 164, 175;
  --fuchsia-400-RGB: 251, 113, 133;
  --fuchsia-500-RGB: 244, 63, 94;
  --fuchsia-600-RGB: 225, 29, 72;
  --fuchsia-700-RGB: 190, 18, 60;
  --fuchsia-800-RGB: 159, 18, 57;
  --fuchsia-900-RGB: 136, 19, 55;
  --fuchsia-1000-RGB: 76, 5, 25;

  --teal-000: #f0fdfa;
  --teal-100: #ccfbf1;
  --teal-200: #99f6e4;
  --teal-300: #5eead4;
  --teal-400: #2dd4bf;
  --teal-500: #14b8a6;
  --teal-600: #0d9488;
  --teal-700: #0f766e;
  --teal-800: #115e59;
  --teal-900: #134e4a;
  --teal-1000: #042f2e;
  --teal-000-RGB: 240, 253, 250;
  --teal-100-RGB: 204, 251, 241;
  --teal-200-RGB: 153, 246, 228;
  --teal-300-RGB: 94, 234, 212;
  --teal-400-RGB: 45, 212, 191;
  --teal-500-RGB: 20, 184, 166;
  --teal-600-RGB: 13, 148, 136;
  --teal-700-RGB: 15, 118, 110;
  --teal-800-RGB: 17, 94, 89;
  --teal-900-RGB: 19, 78, 74;
  --teal-1000-RGB: 4, 47, 46;

  --grey-000: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --grey-1000: #020617;
  --grey-000-RGB: 248, 250, 252;
  --grey-100-RGB: 241, 245, 249;
  --grey-200-RGB: 226, 232, 240;
  --grey-300-RGB: 203, 213, 225;
  --grey-400-RGB: 148, 163, 184;
  --grey-500-RGB: 100, 116, 139;
  --grey-600-RGB: 71, 85, 105;
  --grey-700-RGB: 51, 65, 85;
  --grey-800-RGB: 30, 41, 59;
  --grey-900-RGB: 15, 23, 42;
  --grey-1000-RGB: 2, 6, 23;

  --blue-000: #f2f7fc;
  --blue-100: #e2edf7;
  --blue-200: #cce0f1;
  --blue-300: #a9cde7;
  --blue-400: #80b2da;
  --blue-500: #6297cf;
  --blue-600: #4f80c1;
  --blue-700: #4771b8;
  --blue-800: #3c5991;
  --blue-900: #354c73;
  --blue-1000: #243047;
  --blue-000-RGB: 242, 247, 252;
  --blue-100-RGB: 226, 237, 247;
  --blue-200-RGB: 204, 224, 241;
  --blue-300-RGB: 169, 205, 231;
  --blue-400-RGB: 128, 178, 218;
  --blue-500-RGB: 98, 151, 207;
  --blue-600-RGB: 79, 128, 193;
  --blue-700-RGB: 71, 113, 184;
  --blue-800-RGB: 60, 89, 145;
  --blue-900-RGB: 53, 76, 115;
  --blue-1000-RGB: 36, 48, 71;

  --green-000: #eafff8;
  --green-100: #ccffed;
  --green-200: #9efcdf;
  --green-300: #5ff6d1;
  --green-400: #18dcb2;
  --green-500: #00cea7;
  --green-600: #00a889;
  --green-700: #008671;
  --green-800: #006a5b;
  --green-900: #00574c;
  --green-1000: #00312c;
  --green-000-RGB: 234, 255, 248;
  --green-100-RGB: 204, 255, 237;
  --green-200-RGB: 158, 252, 223;
  --green-300-RGB: 95, 246, 209;
  --green-400-RGB: 24, 220, 178;
  --green-500-RGB: 0, 206, 167;
  --green-600-RGB: 0, 168, 137;
  --green-700-RGB: 0, 134, 113;
  --green-800-RGB: 0, 106, 91;
  --green-900-RGB: 0, 87, 76;
  --green-1000-RGB: 0, 49, 44;

  --orange-000: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-1000: #431407;
  --orange-000-RGB: 255, 247, 237;
  --orange-100-RGB: 255, 237, 213;
  --orange-200-RGB: 254, 215, 170;
  --orange-300-RGB: 253, 186, 116;
  --orange-400-RGB: 251, 146, 60;
  --orange-500-RGB: 249, 115, 22;
  --orange-600-RGB: 234, 88, 12;
  --orange-700-RGB: 194, 65, 12;
  --orange-800-RGB: 154, 52, 18;
  --orange-900-RGB: 124, 45, 18;
  --orange-1000-RGB: 67, 20, 7;

  --red-000: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-1000: #450a0a;
  --red-000-RGB: 254, 242, 242;
  --red-100-RGB: 254, 226, 226;
  --red-200-RGB: 254, 202, 202;
  --red-300-RGB: 252, 165, 165;
  --red-400-RGB: 248, 113, 113;
  --red-500-RGB: 239, 68, 68;
  --red-600-RGB: 220, 38, 38;
  --red-700-RGB: 185, 28, 28;
  --red-800-RGB: 153, 27, 27;
  --red-900-RGB: 127, 29, 29;
  --red-1000-RGB: 69, 10, 10;

  --white: #fafafa;
  --white-RGB: 250, 250, 250;
  --black: #141414;
  --black-RGB: 20, 20, 20;

  color: var(--text);
}

html.light {
  --primary-000: var(--fuchsia-000);
  --primary-100: var(--fuchsia-100);
  --primary-200: var(--fuchsia-200);
  --primary-300: var(--fuchsia-300);
  --primary-400: var(--fuchsia-400);
  --primary-500: var(--fuchsia-500);
  --primary-600: var(--fuchsia-600);
  --primary-700: var(--fuchsia-700);
  --primary-800: var(--fuchsia-800);
  --primary-900: var(--fuchsia-900);
  --primary-1000: var(--fuchsia-1000);
  --primary-000-RGB: var(--fuchsia-000-RGB);
  --primary-100-RGB: var(--fuchsia-100-RGB);
  --primary-200-RGB: var(--fuchsia-200-RGB);
  --primary-300-RGB: var(--fuchsia-300-RGB);
  --primary-400-RGB: var(--fuchsia-400-RGB);
  --primary-500-RGB: var(--fuchsia-500-RGB);
  --primary-600-RGB: var(--fuchsia-600-RGB);
  --primary-700-RGB: var(--fuchsia-700-RGB);
  --primary-800-RGB: var(--fuchsia-800-RGB);
  --primary-900-RGB: var(--fuchsia-900-RGB);
  --primary-1000-RGB: var(--fuchsia-1000-RGB);

  --secondary-000: var(--teal-000);
  --secondary-100: var(--teal-100);
  --secondary-200: var(--teal-200);
  --secondary-300: var(--teal-300);
  --secondary-400: var(--teal-400);
  --secondary-500: var(--teal-500);
  --secondary-600: var(--teal-600);
  --secondary-700: var(--teal-700);
  --secondary-800: var(--teal-800);
  --secondary-900: var(--teal-900);
  --secondary-1000: var(--teal-1000);
  --secondary-000-RGB: var(--teal-000-RGB);
  --secondary-100-RGB: var(--teal-100-RGB);
  --secondary-200-RGB: var(--teal-200-RGB);
  --secondary-300-RGB: var(--teal-300-RGB);
  --secondary-400-RGB: var(--teal-400-RGB);
  --secondary-500-RGB: var(--teal-500-RGB);
  --secondary-600-RGB: var(--teal-600-RGB);
  --secondary-700-RGB: var(--teal-700-RGB);
  --secondary-800-RGB: var(--teal-800-RGB);
  --secondary-900-RGB: var(--teal-900-RGB);
  --secondary-1000-RGB: var(--teal-1000-RGB);

  --text-lighter: var(--grey-400);
  --text-light: var(--grey-600);
  --text: var(--grey-900);
}

html.dark {
  --primary-000: var(--teal-000);
  --primary-100: var(--teal-100);
  --primary-200: var(--teal-200);
  --primary-300: var(--teal-300);
  --primary-400: var(--teal-400);
  --primary-500: var(--teal-500);
  --primary-600: var(--teal-600);
  --primary-700: var(--teal-700);
  --primary-800: var(--teal-800);
  --primary-900: var(--teal-900);
  --primary-1000: var(--teal-1000);
  --primary-000-RGB: var(--teal-000-RGB);
  --primary-100-RGB: var(--teal-100-RGB);
  --primary-200-RGB: var(--teal-200-RGB);
  --primary-300-RGB: var(--teal-300-RGB);
  --primary-400-RGB: var(--teal-400-RGB);
  --primary-500-RGB: var(--teal-500-RGB);
  --primary-600-RGB: var(--teal-600-RGB);
  --primary-700-RGB: var(--teal-700-RGB);
  --primary-800-RGB: var(--teal-800-RGB);
  --primary-900-RGB: var(--teal-900-RGB);
  --primary-1000-RGB: var(--teal-1000-RGB);

  --secondary-000: var(--fuchsia-000);
  --secondary-100: var(--fuchsia-100);
  --secondary-200: var(--fuchsia-200);
  --secondary-300: var(--fuchsia-300);
  --secondary-400: var(--fuchsia-400);
  --secondary-500: var(--fuchsia-500);
  --secondary-600: var(--fuchsia-600);
  --secondary-700: var(--fuchsia-700);
  --secondary-800: var(--fuchsia-800);
  --secondary-900: var(--fuchsia-900);
  --secondary-1000: var(--fuchsia-1000);
  --secondary-000-RGB: var(--fuchsia-000-RGB);
  --secondary-100-RGB: var(--fuchsia-100-RGB);
  --secondary-200-RGB: var(--fuchsia-200-RGB);
  --secondary-300-RGB: var(--fuchsia-300-RGB);
  --secondary-400-RGB: var(--fuchsia-400-RGB);
  --secondary-500-RGB: var(--fuchsia-500-RGB);
  --secondary-600-RGB: var(--fuchsia-600-RGB);
  --secondary-700-RGB: var(--fuchsia-700-RGB);
  --secondary-800-RGB: var(--fuchsia-800-RGB);
  --secondary-900-RGB: var(--fuchsia-900-RGB);
  --secondary-1000-RGB: var(--fuchsia-1000-RGB);

  --text-lighter: var(--grey-600);
  --text-light: var(--grey-400);
  --text: var(--grey-300);
}
