:root {
  --white: #fafafa;
  --black: #141414;

  --coral-50: #fef3f2;
  --coral-100: #fee5e2;
  --coral-200: #ffcfc9;
  --coral-300: #fdada4;
  --coral-400: #fa7d6f;
  --coral-500: #f36858;
  --coral-600: #df3623;
  --coral-700: #bb2b1a;
  --coral-800: #9b2619;
  --coral-900: #80261c;
  --coral-950: #460f09;

  --lavander-50: #f3f5fa;
  --lavander-100: #e9ecf6;
  --lavander-200: #d7dcee;
  --lavander-300: #bec5e3;
  --lavander-400: #a4a8d5;
  --lavander-500: #8c8ec8;
  --lavander-600: #7874b7;
  --lavander-700: #65609d;
  --lavander-800: #545281;
  --lavander-900: #474669;
  --lavander-950: #2a293d;

  --blue-50: #f3f6fc;
  --blue-100: #e6eef8;
  --blue-200: #c7dbf0;
  --blue-300: #96bce3;
  --blue-400: #5e9ad2;
  --blue-500: #4789c8;
  --blue-600: #2963a0;
  --blue-700: #224f82;
  --blue-800: #20446c;
  --blue-900: #1f3a5b;
  --blue-950: #15253c;

  --green-50: #f1f8f6;
  --green-100: #daece6;
  --green-200: #bedcd3;
  --green-300: #92c3b8;
  --green-400: #64a397;
  --green-500: #43867c;
  --green-600: #316a62;
  --green-700: #275550;
  --green-800: #214440;
  --green-900: #1c3836;
  --green-950: #0f1f1e;

  --success-50: #f0fdf6;
  --success-100: #ddfbec;
  --success-200: #bcf6d9;
  --success-300: #88edbd;
  --success-400: #4ddb98;
  --success-500: #25c279;
  --success-600: #19a061;
  --success-700: #198754;
  --success-800: #186340;
  --success-900: #155237;
  --success-950: #062d1c;

  --warning-50: #fffeea;
  --warning-100: #fffbc5;
  --warning-200: #fff687;
  --warning-300: #ffec48;
  --warning-400: #ffdd1e;
  --warning-500: #fcbe04;
  --warning-600: #e29400;
  --warning-700: #b96804;
  --warning-800: #96500a;
  --warning-900: #7b410c;
  --warning-950: #472101;

  --error-50: #fef2f2;
  --error-100: #fee6e5;
  --error-200: #fccfcf;
  --error-300: #f9a8a8;
  --error-400: #f57779;
  --error-500: #ec474f;
  --error-600: #dc3545;
  --error-700: #b7192c;
  --error-800: #99182c;
  --error-900: #83182c;
  --error-950: #490812;

  --info-50: #ecfdff;
  --info-100: #cef9ff;
  --info-200: #a3f2fe;
  --info-300: #64e6fc;
  --info-400: #0dcaf0;
  --info-500: #01b1d9;
  --info-600: #048db6;
  --info-700: #0b7193;
  --info-800: #135b77;
  --info-900: #144c65;
  --info-950: #073245;

  --grey-000: #f8fafc;
  --grey-100: #f1f5f9;
  --grey-200: #e2e8f0;
  --grey-300: #cbd5e1;
  --grey-400: #94a3b8;
  --grey-500: #64748b;
  --grey-600: #475569;
  --grey-700: #334155;
  --grey-800: #1e293b;
  --grey-900: #0f172a;
  --grey-1000: #020617;
}

html.light {
  --light: var(--grey-600);
  --lighter: var(--grey-400);
  --lightest: var(--grey-200);

  --dark: var(--grey-800);
  --darker: var(--grey-900);
  --darkest: var(--grey-1000);
}

html.dark {
  --light: var(--grey-400);
  --lighter: var(--grey-200);
  --lightest: var(--grey-050);

  --dark: var(--grey-400);
  --darker: var(--grey-500);
  --darkest: var(--grey-600);
}
